@import '../variables.module'
@import '../mixins'

#mainContent
    background-color: $bg-color
    flex: 2 1 0
    border-radius: $container-border-radius
    padding: 3rem

    img
        max-width: 30%
        height: 25%
        border-radius: 50%
        margin-left: 35%
        top: -5rem
        margin-bottom: 4rem

    section
        display: flex
        flex-direction: column

    h2
        margin-top: 4rem
        color: $text-color
        font-size: 2.2rem
        margin-bottom: 1.3rem
        @include center
        justify-content: flex-start
        gap:  1rem

        &:after
            @include gradient-border

    h3
        color: $text-color
        
    p
        color: $text-color-secondary
        margin-bottom: 1rem
        line-height: 1.4rem

    .btn
        align-self: flex-start
        @include btn
        gap: 2rem
        margin-left: 4rem
        margin-bottom: 80px
        &:first-child
            margin-left: 0rem
            
        span
            margin-left: 1ch

        
    
        
        
        


