@import '../variables.module'
@import '../mixins'

#mainContent
    background-color: $bg-color
    flex: 2 1 0
    border-radius: $container-border-radius
    padding: 3rem

    img
        max-width: 30%
        height: 25%
        border-radius: 50%
        margin-left: 35%
        top: -5rem
        margin-bottom: 4rem

    section
        display: flex
        flex-direction: column

    h2
        margin-top: 4rem
        color: $text-color
        font-size: 2.2rem
        margin-bottom: 1.3rem
        @include center
        justify-content: flex-start
        gap: 1rem

        &:after
            @include gradient-border

    h3
        color: $text-color
        
        margin-bottom: 5px

    p
        color: $text-color-secondary
        margin-bottom: 1rem
        line-height: 1.4rem
        font-size:1.4rem
        margin-left: 1.2ch

    a
        .btn
            align-self: flex-start
            @include btn
            gap: 2rem
            margin-left: 100px
            border: none
            scale: 1.2
            transition: 0.3s ease-in-out

            svg
                color: $text-color
            span
                transition: 0.5s ease-in-out
                margin-left: 1ch
                color: $text-color

        &:hover
            span
                transition: 0.5s ease-in-out
                border-bottom: 1px solid $text-color

    a
        .active
            @include btn
            gap: 2rem
            margin-left: 100px
            border: none
            scale: 1.2
            transition: 0.3s ease-in-out
            cursor: not-allowed
            svg
                color: $active-Color
            span

                margin-left: 1ch
                border-bottom: 1px solid $active-Color
                color: $active-Color
                font-weight: bold

@media (max-width: 1366px)
    #mainContent
        p
            font-size: 1.2rem
        
@media (max-width: 970px)
    #mainContent
        padding: 0.6rem

        h2
            border-bottom: 1px solid $text-color-secondary
            &:after
                display: none

        a
            .btn,.active
                margin-left: 0rem
                width: 70%
                justify-content: center
                font-size: 12px
                margin-bottom: 20px
                margin-left: 15%
                gap: 1rem
                padding: 10px
                text-align: center
