@import 'variables.module'
@import 'mixins.sass'

#portfolio
    display: flex
    flex-wrap: wrap
    padding: 3rem
    gap: 3rem

    h1
        width: 100%
        font-size: 5rem
        margin-bottom: 4rem
        background-size: cover
        background-image: url(https://media.giphy.com/media/HNV9vNUPcPAwSErVq5/giphy.gif)
        background-position: center
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

.btnHome
    @include btn

@media screen and (max-width:670px)
    #portfolio
        h1
            font-size: calc(6vh + 0.5rem)
